{% load static %}
<footer class="ts-footer" style="padding-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ts-footer-social text-center mb-30">
                    <ul>
                        <li class="ts-youtube">
                            <a href="https://www.youtube.com/channel/UCAsDaEyuIxdmot4UVSFR0TA" rel="noreferrer">
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                                <span title="Youtube">Youtube</span>
                            </a>
                        </li>
                        <li class="ts-twitter">
                            <a href="https://twitter.com/bofman4jkt" rel="noreferrer">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                <span title="Twitter">Twitter</span>
                            </a>
                        </li>
                        <li class="ts-instagram">
                            <a href="https://instagram.com/bofman4" rel="noreferrer">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                                <span title="Instagram">Instagram</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- footer social end-->

                <div class="footer-menu text-center mb-25">
                    <div class="menu-footer-menu-container">
                        <ul id="menu-footer-menu" class="menu">
                            <li id="menu-item-450"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-450"><a
                                    href="{% url 'about' %}">About</a></li>
                            <li id="menu-item-452"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-452"><a
                                    href="{% url 'contact' %}">Contact</a></li>
                            <li id="menu-item-453"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-453"><a
                                    href="{% url 'merchandise' %}">Merchandise</a></li>
                            <li id="menu-item-454"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-454"><a
                                    href="{% url 'gallery' %}">Gallery</a></li>
                            <li id="menu-item-454"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-454"><a
                                    href="{% url 'closing' %}">Closing</a></li>
                        </ul>
                    </div>
                </div><!-- footer menu end-->

                <div class="copyright-text d text-center">
                    <style>
                        #faziltirtana {
                            color: white;
                        }

                        #faziltirtana:hover {
                            border-bottom: 1px solid white;
                        }
                    </style>
                    <p>
                        © 2022. All Rights Reserved | Developed by
                        <a href="https://faziltirtana.com" id="faziltirtana">Fazil Tirtana</a>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="BackTo">
        <a href="#" class="icon icon-chevron-up"></a>
    </div>

</footer>