{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>BOFMAN4</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'core/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'core/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'core/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'core/site.webmanifest' %}">
</head>

<body>
    <img class="animate-bounce" style="width: 30%; display: block; margin-left: auto; margin-right: auto; margin-top: 10%;" class="logo"
        src="{% static 'core/logo.png' %}" alt="" />
</body>

</html>